.podcast-item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 20% 10% / 10% 30%;
  overflow: hidden;
  transition: background-color 0.3s, border-color 0.3s;
  flex: 1 1 calc(33.333% - 20px);
  max-width: 300px;
}
  
  .podcast-item .podcast-image {
    flex: 0 0 100px; 
    margin-right: 15px;
  }
  
  .podcast-item .podcast-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .podcast-item .podcast-details {
    flex: 1; 
  }
  
  .podcast-item h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .podcast-item p {
    margin: 5px 0;
    color: #666;
  }
  
  .podcast-item .action-buttons {
    display: flex;
    align-items: center;
  }
  
  .podcast-item .action-buttons p {
    margin: 0;
  }
  
  .podcast-item .favorite-icon {
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: auto; 
    transition: color 0.3s ease;
  }
  
  .podcast-item .favorite-icon.favorite {
    color: red; 
  }
  
  .podcast-item .podcast-link {
    color: #007bff; 
    text-decoration: none;
  }
  
  .podcast-item .podcast-link:hover {
    text-decoration: underline;
  }

  .podcast-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
    padding: 0;
}
.podcast-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
@media (max-width: 768px) {
  .podcast-item {
      flex: 1 1 calc(50% - 20px); /* Two items per row on smaller screens */
      max-width: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .podcast-item {
      flex: 1 1 calc(100% - 20px); /* Single item per row on extra small screens */
      max-width: calc(100% - 20px);
  }
}
  